<div class="container">
<h3>Home</h3>

<div class="pull-right">
    <button data-ng-click="homeCtrl.addTab()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</div>
<uib-tabset active="active">
    <uib-tab index="$index" ng-repeat="tab in homeCtrl.tabs">
        <uib-tab-heading>
            Tab {{tab.counter}} <button class="glyphicon glyphicon-remove" data-ng-click="homeCtrl.removeTab($index)"></button>
        </uib-tab-heading>
        <h1>Tab {{tab.counter}}</h1>
    </uib-tab>
</uib-tabset>
</div>